

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: -40px;
  max-width: 10%;
  opacity: 0.5;
}

/* Style du main */
@font-face {
  font-family: "LiberationSerifRegular";
  src: url("/assets-css/Font/LiberationSerif-Regular.ttf");

  font-family: "LiberationSerifBold";
  src: url("/assets-css/Font/LiberationSerif-Bold.ttf");
}
h1 {
  word-spacing: 0.5em;
}

p {
  font-family: LiberationSerifRegular;
  color: #001052;
  font-size: 1.5em;
}

.SELZ {
  letter-spacing: 0.5em;
}

h2 {
  color: green;
}

.img_texte {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0 60px 0;
}

/* Paragraphes en bleu par défaut */
p {
  color: blue;
}

.shadowbox {
  width: 40%;
  border: 1px solid #333;
  box-shadow: 8px 8px 8px #444;
  padding: 20px 20px;
  text-align: justify;
}

a[alt="lien vers prestation"] {
  display: flex;
  justify-content: end;
  color: green;
}

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 1024px) {
  p {
    /* color: red;
    background-color: black; */
    font-size: 1.2em;
    padding: 0 0 0 0;
  }
  .img_texte {
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 0;
  }
  .reduc_img60 {
    max-width: 100%;
  }
  .shadowbox {
    width: 100%;
    border: 0 solid #333;
    box-shadow: 0 0 0 #444;
   
    text-align: center;
  }
  .inversimg {
    flex-direction: column-reverse;  }
}
/* Fin Nouvelles règles si la fenêtre fait au plus 1024px de large */

/* Style du footer */
