header .logo_accueil {
  max-width: 15%;
  max-height: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
header .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-inline-start: 20px;
}
header .nav li {
  display: inline-block;
  font-size: 20px;
  background-color: green;
  border-radius: 50%;
  height: auto;
  margin: 1em 1.5em;
  padding: 0em 1em;
}
header .nav a {
  color: white;
  text-decoration: none;
}

#gototop {
  position: fixed;
  bottom: 30px;
  right: -40px;
  max-width: 10%;
  opacity: 0.5;
}

/* Style du main */
@font-face {
  font-family: "LiberationSerifRegular";
  src: url("/assets-css/Font/LiberationSerif-Regular.ttf");

  font-family: "LiberationSerifBold";
  src: url("/assets-css/Font/LiberationSerif-Bold.ttf");
}
h1 {
  word-spacing: 0.5em;
}

p {
  font-family: LiberationSerifRegular;
  color: #001052;
  font-size: 1.5em;
}


.SELZ {
  letter-spacing: 0.5em;
}

h2 {
  color: green;
}

.img_texte {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0 60px 0;
}
.reduc_img60 {
max-width: 60%;

}


.shadowbox {
  width: 40%;
  border: 1px solid #333;
  box-shadow: 8px 8px 8px #444;
  padding: 20px 20px;
  text-align: justify;
}

a[alt = "lien vers prestation"] {
display: flex;
justify-content: end;
color: green;
}




/* Style du footer */
footer .container {
  border: solid black;
  text-align: center;
  width: 100%;
  margin: 1em 0em;
  padding: 1em;
  display: flex;
  vertical-align: middle;
}
footer,
div {
  display: inline-block;
  margin: 0.7em;
}
footer div > a,
footer div > span {
  display: block;
  padding: 0em 8em;
}
footer div span {
  margin-bottom: 1em;
  text-align: center;
}
