header .logo_accueil{
    max-width: 15%;
    max-height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
header .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-inline-start: 20px;
  }
  header .nav li {
    display: inline-block;
    font-size: 20px;
    background-color: green;
    border-radius: 50%;
    height: auto;
    margin: 1em 1.5em;
    padding: 0em 1em;
  }
  header .nav a{
      color: white;
      text-decoration: none;
  }

  /* Style du main */

  h1
  {word-spacing: 0.5em;}
 .SELZ
 { letter-spacing: 0.5em; }

  h2
{ color: green;}

.display
{ display: flex ;}

  .img_left {
  float: left;
 margin: 0 15px 15px 0;

    max-width: 100%;
    height: auto;
  }
.mea { 
   border: 1px solid #333;
}
  .shadowbox {
    width: 40%;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 20px 20px;
    text-align: justify;
    margin-right: auto ;
    
  }

  /* align-items: flex-end : pour mettre en bas de l'écran mon lien vers le haut */

  /* Style du footer */
footer .container{
    border: solid black;
    text-align: center;
    width: 100%;
    margin: 1em 0em;
    padding: 1em;
    display: flex;
    vertical-align: middle;
}
footer,div{
    display: inline-block;
    margin: 0.7em;
}
footer div>a, footer div>span {
    display: block;
    padding: 0em 8em;
}
footer div span{
    margin-bottom: 1em;
    text-align: center;
}