header{
    display: inline;
}

footer .container{
    border: solid black;
    text-align: center;
    width: 100%;
    margin: 1em 0em;
    padding: 1em;
    display: flex;
    vertical-align: middle;
}
footer,div{
    display: inline-block;
    margin: 0.7em;
}
footer div>a, footer div>span {
    display: block;
    padding: 0em 8em;
}
footer div span{
    margin-bottom: 1em;
    text-align: center;
}