*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header .logo_home{
    max-width: 8%;
    max-height: 8%;
    display: inline;
    vertical-align: middle;
    padding-right: 4em;
}
header .nav {
    list-style-type: none;
    margin: 0;
    text-align: center;
    max-width: 100%;
    padding: 0%;
    padding-inline-start: 0;
  }
  header .nav li {
    display: inline-block;
    font-size: 2.5em;
    font-weight: bold;
    background-color: rgb(3, 202, 3);
    height: auto;
    margin: 1em 1.5em;
    padding: 0em 1em;
    border-radius: 30px;
  }
  header .nav a{
      color: white;
      text-decoration: none;
  }
footer .container{
    border: solid black;
    text-align: center;
    width: 100%;
    margin: 1em 0em;
    padding: 1em;
    display: flex;
    vertical-align: middle;
}
footer,div{
    display: inline-block;
    margin: 0.7em;
}
footer div>a, footer div>span {
    display: block;
    padding: 0em 8em;
}
footer div span{
    margin-bottom: 1em;
    text-align: center;
}